:host{
    display: block;
    height: 100vh;
    box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
    background-color: #FFF5DD;
    background-image: url('/assets/images/logotitle.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.arrow-btn{
    position: fixed;
    bottom: 0;
    margin-left: -21px;
}