:host {
    display: block;
    height: 100vh;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
    background-image: url('/cv2020/dist/cv2020/assets/images/texture.png');
    background-color: #dbdbdb;
    position: relative;
    text-align: center;
    padding-top: 20vh;
}

a {
    display: inline-block;
    width: 20vw;
    height: 40vh;
    background-image: url('/cv2020/dist/cv2020/assets/images/github_PNG20.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}