:host {
    display: block;
    height: 100vh;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
    background-image: url('/assets/images/egg_shell.jpg');
    position: relative;
}

.chart{
    height: 100vh;
}