:host {
    display: block;
    height: 100vh;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
    background-image: url('/assets/images/white_brick_wall.png');
    position: relative;
}

.row {
    height: 100vh;
    width: 96vw;
    margin: 0 auto;
}

.me {
    background-image: url('/assets/images/me.png');
    background-repeat: no-repeat;
    background-position: center;
}

p {
    font-size: 1.4rem;
}