<div class="row animate__animated animate__zoomInRight">
    <div class="col-xl-5 col-4 align-self-center">
        <div class="text-right">
            <p>1992/11</p>
            <p>Taichung City</p>
            <p>Front end developer / 5 years</p>
        </div>
    </div>
    <div class="col-xl-2 col-4 me">
    </div>
    <div class="col-xl-5 col-4 align-self-center">
        <div>
            <p>Wan-zhen Shiou</p>
            <p>National Taichung University of Science and Technology</p>
            <p>Department of Information Management</p>
        </div>
    </div>
</div>
<app-arrow-btn [index]="2"></app-arrow-btn>